.DS_Store
.idea/workspace.xml

bin/*.xml
bin/**/*.xml
bin/*.swf
bin/**/*.swf
bin/*.apk
bin/**/*.apk
bin/*.ipa
bin/**/*.ipa
bin/*.dSYM
bin/**/*.dSYM
bin/*.cache
bin/**/*.cache
bin/*.tmp
out/test/


.project
.actionScriptProperties
.settings
.storepass
.ftppass

node_modules